body {
    font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
    font-size: 14px;
    color: #333;
    margin: 0;
    padding: 0;
    position: relative;
    line-height: 1.5;
    background: #fff;
    min-width: 960px;
}
.demo-content {
	height: 760px;
	padding-top: 34px;
	background-color: #3f51b5;
	
    .container {
    	max-width: 1180px;
	    position: relative;
	    margin: 0 auto;
	    padding-left: 40px;
	    padding-right: 40px;
	    -webkit-box-sizing: border-box;
	    -moz-box-sizing: border-box;
	    box-sizing: border-box;
    }
    .left {
	    float: left;
	    text-align: center;
	    position: relative;
	    color: #fff;
	    .title {
		    margin: 0;
		    font-size: 52px;
		    font-weight: 100;
		    line-height: 1;
		    margin: 250px 0;

		    .txt {
		    	font-size: 28px;
		    	line-height: 5;
		    }
		}
	}
	.mobile {
	    position: absolute;
	    background: #111;
	    border-radius: 55px;
	    box-shadow: 0px 0px 0px 2px #aaa;
	    top: -50px;
	    right: 40px;
	    width: 320px;
	    height: 568px;
	    padding: 105px 25px;

	    &:before {
		    content: '';
		    width: 60px;
		    height: 10px;
		    border-radius: 10px;
		    position: absolute;
		    left: 50%;
		    margin-left: -30px;
		    background: #333;
		    top: 50px;
		}
		&:after {
		    content: '';
		    position: absolute;
		    width: 60px;
		    height: 60px;
		    left: 50%;
		    margin-left: -30px;
		    bottom: 20px;
		    border-radius: 100%;
		    box-sizing: border-box;
		    border: 5px solid #333;
		}

		.statusbar {
		    position: absolute;
		    width: 320px;
		    height: 20px;
		    background: url(../images/status-bar.png);
		    left: 50%;
		    margin-left: -160px;
		    top: 100px;
		    -webkit-background-size: 100% auto;
		    background-size: 100% auto;
		}

		iframe {
		    width: 320px;
		    height: 548px;
		    display: block;
		    width: 100%;
		    margin-top: 20px;
		}
	}
}
