#Introduction {
	height: 300px;
	border-bottom: 1px solid #ddd;
	background-color: #3f51b5;
	color: #fff;

	.about-site {
		width: 500px;
		text-align: center;
		margin: 0 auto;
		.author {
			text-align: center;
		}
		img {
			width: 115px;
			height: 115px;
			border-radius: 50%;
		}
		.site-int {
			margin-top: 20px;
		}
	}
	a {
		// color: #fff;
		text-decoration: none;
		&:hover {
			text-decoration: underline;
		}
	}
}

#main-body {
	width: 1024px;
	margin: 0 auto;
}

.content-box {
	position: relative;
	margin: 40px 0 0px 0;
	padding: 0 15px;
	border-top: 1px solid #f7f7f7;
	.box-title {
		display: block;
		position: absolute;
		color: #ddd;
		background-color: #fff;
		font-size: 24px;
		width: 160px;
		text-align: center;	
		margin-top: -10px;
		margin-left: -80px;
		left: 50%;
	}
}

.skill-content {
	margin: 40px 0 60px 0;
	text-align: center;
	.skill-item {
		position: relative;
		display: inline-block;
		width: 200px;
		height: 200px;
		margin: 0 15px;
		// border: 1px solid #ddd;
		// border-radius: 50%;

		.skill-name {
			display: block;
			position: absolute;
			width: 100%;
		    text-align: center;
		    font-size: 32px;
		    line-height: 32px;
		    top: 50%;
		    margin-top: -12px;
		    letter-spacing: 2px;
		}

		.skill-detail {
			display: block;
		    position: absolute;
		    width: 100%;
		    height: 50px;
		    line-height: 50px;
		    text-align: center;
		    bottom: -60px;
		    color: #666;

		    p {
		    	margin: 0;
		    	padding: 0;
		    	height: 50px;
		    }
		}
	}

	.wrapper{
	  width: 200px;
	  height: 200px;
	  position: absolute;
	  top:0;
	  overflow: hidden;
	}
	.right{
	  right:0;
	}
	.left{
	  left:0;
	}

	.circleProgress{
	  width: 160px;
	  height: 160px;
	  border: 20px solid transparent;
	  border-radius: 50%;
	  position: absolute;
	  top:0;
	}
	.rightcircle{
	  right:0;
	  
	  &.html {
	  	border-top:20px solid $html-color;
	  	border-right:20px solid $html-color;
	  	-webkit-transform: rotate(45deg);
	  }
	  &.css {
	  	border-top:20px solid $css-color;
	  	border-right:20px solid $css-color;
	  	-webkit-transform: rotate(45deg);
	  }
	  &.script {
	  	border-top:20px solid $script-color;
	  	border-right:20px solid $script-color;
	  	-webkit-transform: rotate(45deg);
	  }
	}
	.leftcircle{
	    
	    left:0;
	    &.html {
		  	border-bottom:20px solid $html-color;
	    	border-left:20px solid $html-color;
	    	-webkit-transform: rotate(-40deg);
	  	}
	  	&.css {
		  	border-bottom:20px solid $css-color;
	    	border-left:20px solid $css-color;
		  	-webkit-transform: rotate(-40deg);
	  	}
	  	&.script {
		  	border-bottom:20px solid $script-color;
	    	border-left:20px solid $script-color;
	    	-webkit-transform: rotate(-80deg);
	  	}
	}

}

.case-card {
	margin: 40px 35px 0px 35px;
    width: 425px;
	display: inline-block;
}
.case-txt {
	height: 48px;
	overflow: hidden;
	text-overflow: ellipsis;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    display: -webkit-box;
}
.case-bg {
	position: relative;
	background-size: 100% 100%;
	.mdl-card__title {
		color: #fff;
		// z-index: 5;
	}
	.mdl-card__supporting-text {
		color: #f6f6f6;
		// z-index: 5;
	}

	.mask {
		// position: absolute;
		// width: 100%;
		// height: 100%;
		background-color: rgba(0, 0, 0, 0.5);
		// z-index: 1;
	}
}
.blog-footer {
	border-top: 1px solid #f7f7f7;
	text-align: center;
	color: #666;
	height: 56px;
	line-height: 56px;
	box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 3px 1px -2px rgba(0, 0, 0, 0.2), 0 1px 5px 0 rgba(0, 0, 0, 0.12);
}