// Clearfix

@mixin clearfix {
  *zoom: 1;
  &:after {
    content: "";
    display: table;
    clear: both;
  }
}

// Inline block

@mixin inline-block($alignment: middle) {
  display: -moz-inline-stack;
  display: inline-block;
  *display: inline;
  zoom: 1;
  @if $alignment and $alignment != none {
    vertical-align: $alignment;
  }
}


