<header class="mdl-layout__header mdl-layout__header--waterfall">
  <!-- Top row, always visible -->
  <div class="mdl-layout__header-row">
    <!-- Title -->
    <span class="mdl-layout-title">
      Joan's Blog
      <!-- <img src="images/nk.jpg" width="50" height="50"/> -->
    </span>
    <!-- Add spacer, to align navigation to the right -->
    <div class="mdl-layout-spacer"></div>
    <button id="nav-contact-lower-right" class="mdl-button mdl-js-button mdl-button--icon">
      <i class="material-icons">more_vert</i>
    </button>
  </div>
</header>
<ul class="mdl-menu mdl-menu--bottom-right mdl-js-menu mdl-js-ripple-effect"
    for="nav-contact-lower-right">
  <li class="mdl-menu__item"><i class="material-icons">phone</i> <span class="contact-item">18767124961</span></li>
  <li class="mdl-menu__item"><i class="material-icons">email</i> <span class="contact-item">fqjoan@gmail.com</span></li>
</ul>