---
layout: page
title: Joan's Blog
class: blog
---

<main class="mdl-layout__content">
  <div class="page-content">
  <!-- Your content goes here -->
    <div id="Introduction">
        {% include about.liquid %}
    </div>

    <div id="main-body">
        <!-- skills -->
        <div id="ShowSkill" class="content-box  clearfix">
            <span class="box-title"> Skills </span>
            {% include skill.liquid %}
        </div>

        <!-- cases -->
        <div id="ShowCase" class="content-box  clearfix">
            <span class="box-title"> What I do </span>
            <!-- card -->
            {% include card.liquid %}
        </div>
    </div>
  </div>


  {% include footer.liquid %}
</main>


